/target
*.log
/.vscode
dist
/nodejs/**/*.wasm
/nodejs/**/*.exe
/nodejs/*/sane-fmt
/nodejs/**/*.js
/nodejs/**/*.d.ts
/nodejs/**/*.map
/nodejs/*/*.npmrc
node_modules
*.tsbuildinfo
*.mypy_cache
/checksums
/pkgbuild
