[package]
name = "sane-fmt"
description = "Opinionated code formatter for TypeScript and JavaScript"
version = "0.5.5"
authors = ["khai96_ <hvksmr1996@gmail.com>"]
license = "MIT"
edition = "2018"
keywords = ["format", "typescript", "javascript"]
categories = ["command-line-utilities"]
repository = "https://github.com/sane-fmt/sane-fmt.git"
readme = "README.md"
include = [
  "/src",
  "/Cargo.toml",
  "/README.md",
]

[lib]
name = "sane_fmt"
path = "src/lib.rs"

[[bin]]
name = "sane-fmt"
path = "src/main.rs"

[[bin]]
name = "sane-fmt-export-json-config"
path = "src/export_json_config/main.rs"

[[bin]]
name = "sane-fmt-generate-shell-completions"
path = "src/generate_shell_completions/main.rs"

[dependencies]
structopt = "^0.3.17"
dprint-plugin-typescript = "^0.30.0"
difference = "^2.0.0"
relative-path = "^1.2.1"
ansi_term = "^0.12.1"
pipe-trait = "^0.2.0"
tap = "^0.4.0"
serde_json = "^1.0.57"

[dependencies.serde]
version = "^1.0.114"
features = ["derive"]

[dev-dependencies]
tempfile = "^3.1.0"
strip-ansi-escapes = "^0.1.0"
fs_extra = "^1.1.0"
toml = "^0.5.6"
