[package]
name = "sane-fmt"
description = "Opinionated code formatter for TypeScript and JavaScript"
version = "0.2.26"
authors = ["khai96_ <hvksmr1996@gmail.com>"]
license = "MIT"
edition = "2018"
keywords = ["format", "typescript", "javascript"]
categories = ["command-line-utilities"]
repository = "https://github.com/KSXGitHub/sane-fmt.git"
readme = "README.md"
include = [
  "/src",
  "/Cargo.toml",
  "/README.md",
]

[lib]
name = "sane_fmt"
path = "src/lib.rs"

[[bin]]
name = "sane-fmt"
path = "src/main.rs"

[dependencies]
structopt = "^0.3.14"
dprint-plugin-typescript = "^0.18.6"
difference = "^2.0.0"
relative-path = "^1.0.0"
ansi_term = "^0.12.1"
pipe-trait = "^0.2.0"

[dev-dependencies]
tempfile = "^3.1.0"
strip-ansi-escapes = "^0.1.0"
fs_extra = "^1.1.0"
serde = "^1.0.110"
serde_json = "^1.0.53"
toml = "^0.5.6"
