[package]
name = "sane-fmt"
description = "Opinionated code formatter for TypeScript and JavaScript"
version = "0.12.0"
authors = ["khai96_ <hvksmr1996@gmail.com>"]
license = "MIT"
edition = "2021"
keywords = ["format", "typescript", "javascript"]
categories = ["command-line-utilities"]
repository = "https://github.com/sane-fmt/sane-fmt.git"
readme = "README.md"
include = [
  "/src",
  "/Cargo.toml",
  "/README.md",
]

[lib]
name = "sane_fmt"
path = "src/lib.rs"

[[bin]]
name = "sane-fmt"
path = "src/main.rs"

[[bin]]
name = "sane-fmt-export-json-config"
path = "src/export_json_config/main.rs"

[[bin]]
name = "sane-fmt-generate-shell-completions"
path = "src/generate_shell_completions/main.rs"

[dependencies]
structopt = "^0.3.25"
structopt-utilities = "^0.1.0"
dprint-core = "0.47.1"
dprint-plugin-typescript = "0.61.0"
difference = "^2.0.0"
relative-path = "^1.6.0"
ansi_term = "^0.12.1"
pipe-trait = "^0.3.2"
tap = "^1.0.1"
serde_json = "^1.0.74"

[dependencies.serde]
version = "^1.0.133"
features = ["derive"]

[dev-dependencies]
tempfile = "^3.2.0"
strip-ansi-escapes = "^0.1.1"
fs_extra = "^1.2.0"
toml = "^0.5.8"
pretty_assertions = "^1.0.0"

[profile.release]
opt-level = "z"
